* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, button, input, a, ul{
    font-family: inherit;
    text-decoration: none;
    list-style: none;
}

body{
    background: radial-gradient(rgb(66, 28, 173), rgb(1, 30, 53));
}


.container {
    max-width: 600px;
    min-width: 20%;
    height: 100vh;
    margin: auto;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    color: white;
}
.profile img{
    width: 100px;
    clip-path: circle();
}
.profile h2{
    margin-top: 25px;
}
.profile p{
    opacity: 90%
}


.card{
    padding: 24px;
}


.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -48px;
    margin-bottom: 24px;

   
}


.link a{
    display: flex;
    justify-content: center;
    align-items: center;

    color: #302f2f;
    font-size: 24px;
    text-align: center;
    background-color: #e2e0e0;
    border-radius: 7px;
    margin: 12px 0px;
    text-transform: uppercase;
    font-weight: 600;

}

        
footer{
    text-align: center;
    opacity: 50%;
    color: rgb(235, 235, 235);
}